
body {
    font-family: Arial, sans-serif;
    background: #FEFAE0;  
    color: #283618;        
    text-align: center;
    margin: 10px;
}



h1 {
    margin: 20px 0;
    color: #283618;
}



.target {
    color: #283618;
    margin-bottom: 15px;
}



.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.countdown div {
    background: #606C38;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
}

.countdown span {
    color: #FEFAE0;
    font-size: 24px;
}

.countdown p {
    font-size: 12px;
    color: #EDE6D6;
}


.dashboard {
    padding: 20px;
}



#ECsubjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}


.card {
    background: #EDE6D6;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #283618;
    text-align: left;
    transition: transform 0.2s ease;
}

.card:hover {
    background: #DDA15E;
    color: white;
    transform: translateY(-5px);
}


.progress-bar {
    background: #FEFAE0;
    height: 6px;
    border-radius: 6px;
    margin-top: 5px;
}

.fill {
    height: 100%;
    background: linear-gradient(#606C38, #BC6C25);
}


.topic {
    background: #EDE6D6;
    width: 60%;
    margin: 10px auto;
    padding: 12px;
    border-radius: 10px;
}

.topic input {
    margin-right: 5px;
}
